.header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white; 
    width: 100%;
}

.div-titulo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.div-titulo h1 {
    color: rgb(52, 108, 101);
    margin-left: 10px; 
}

.div-titulo img {
    height: 80px;
    width: 80px;
}
